<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
     <div class="container">
          <div class="card">
               <img src="images/clint.png" alt="image not founded" class="profile-img">
               <div class="info">
                <h1>{{profile.username}}</h1>
                <ul>
                    <li> 
                    <span><ion-icon name="call-outline"></ion-icon></span>
                    Mobile no:
                    </li>
                    <li><span><ion-icon name="mail-open-outline"></ion-icon></span> 
                    user@gmail.com
                    </li>
                    <li><span><ion-icon name="cash-outline"></ion-icon></span> 
                    Coins:
                    </li>
                    <li><img src="website.png" alt="image not founded"> Debtrack:</li>

                </ul>
                <div class="link">
                    <span><ion-icon name="download-outline"></ion-icon></span>
                     </span>
                </div>
               </div>
          </div>
     </div>

</body>
</html>